@tailwind base;
@tailwind components;
@tailwind utilities;

.leftsidebar {
    @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r border-r-black bg-base-100 pb-5 pt-28 max-md:hidden;
  }

  .leftsidebar_link {
    @apply relative flex justify-start gap-4 rounded-lg p-4;
  }

  @layer components {
    .main-container {
        @apply flex min-h-screen flex-1 flex-col px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
      }
      .text-head {
        @apply text-3xl font-bold;
      }
  }

  @layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        border-radius: 2px;
      }
    
      .custom-scrollbar::-webkit-scrollbar-track {
        background: #09090a;
      }
    
      .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #5c5c7b;
        border-radius: 50px;
      }
    
      .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #7878a3;
      }
  }